body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

/* landing page */
#section-id-template--23436597559598__custom_liquid_ecQFGe{
   display:none;
}

@media only screen and (max-width: 600px) {
    #shopify-section-infinite_slider .features-area.isolate {
        border-bottom: 0.5px solid black !important;  
       border-top: 0.5px solid black !important; 
    }
}
  
#shopify-section-infinite_slider{
    border: none;
}

 .features-area .isolate {
    border-bottom: 0.5px solid black !important;
}


.video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}
.card-container {
    position: relative;
}

.video-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Gill Sans';
    src: url(Gill-Sans.otf);
}

.Gill {
    font-family: 'Gill Sans';
}

@font-face {
  font-family: 'AccountantSignature';
  src: url("https://cdn.shopify.com/s/files/1/0897/7045/9448/files/aAccountantSignature.woff2?v=1726503252")format('woff2');  
  }

.AccountantSignature {
    font-family: 'AccountantSignature' !important;
}